<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821505612282-eve3cg7iv8f0t23pkrg7d9mvbofosbhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821505612282-eve3cg7iv8f0t23pkrg7d9mvbofosbhh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>821505612282-ni8n5ip9puc0mu2pac1j9vqtkn21crpg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2tTu8Knus3G3dKc59UaxyRGBc_a9FFIc</string>
	<key>GCM_SENDER_ID</key>
	<string>821505612282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MeauAdoption</string>
	<key>PROJECT_ID</key>
	<string>meau-app-8f1b1</string>
	<key>STORAGE_BUCKET</key>
	<string>meau-app-8f1b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821505612282:ios:867f4e9c3d67bde9</string>
	<key>DATABASE_URL</key>
	<string>https://meau-app-8f1b1.firebaseio.com</string>
</dict>
</plist>